<a href="https://colab.research.google.com/github/abina-123/TEST/blob/main/python_task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.break, continue and pass**

In [ ]:
for i in range(10):
    if i == 5:
        break
    print(i)

for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

x = 5
if x < 0:
    pass  # Handle negative case later

0
1
2
3
4
1
3
5
7
9

1.defition:
break:
     It is used to exit  a loop
continue:
     It is used to skip the current iteration of a loop and continue with the next iteration.
pass:
     It is a null operation, i.e nothing happens when it executes.

# **2.lists and tuples**

In [ ]:
my_list = [1, 2, 3, 4, 5]

my_list[0] = 10
print(my_list)

my_list.append(6)
print(my_list)




my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[0])

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5, 6]
1

list:
   square brackets [ ].
   The elements can be changed after creation.

Tuples:  The elements cannot be changed after creation. They are defined using parentheses ( ).
   The elements cannot be changed after creation.

# **#3. split() and join()**

In [ ]:
sentence = "Hello world, this is Python"
words = sentence.split()
print(words)


words = ['Hello', 'world,', 'this', 'is', 'Python']
sentence = ' '.join(words)
print(sentence)

['Hello', 'world,', 'this', 'is', 'Python']
Hello world, this is Python

split(): A string into a list of substrings based on a delimiter.
join():  joins the elements of an iterable single string using a specified delimiter.

# **4.inheritance**

In [ ]:
class hotel:
    def name(self):
        print("Some generic name")

class places(hotel):
    def name(self):
        print("kanyakumari")

places = places()
places.name()

kanyakumari

Inheritance : class(subclass) to inherit attributes and methods from another class (superclass). The subclass can then extend or override the functionality of the superclass.
 inheritance two class
     1.sub class
     2.super class

#5. **List** **comprehensions**

In [ ]:
squares = [x**2 for x in range(10)]
print(squares)  # Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List comprehensions :They consist of brackets containing an expression followed by a for clause, then zero or more for or if clauses.

# **delete a file **

In [ ]:
import os
os.remove("flie txt")

delete the file

### **7.Program to combine two different dictionaries**

In [ ]:
def combine_dicts(dict1, dict2):
    return {**dict1, **dict2}

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = combine_dicts(dict1, dict2)
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

dictionary:
{} denotes the dictionary.using :

## 8.odd  even

In [ ]:
def odd_even(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

number = int(input("Enter a number: "))
print(odd_even(number))

# **9.lambda function**

In [ ]:
add = lambda x, y: x + y
print(add(3, 4))

Lambda function:
Lambda functions, also known as anonymous functions, are small, single-expression functions often used where function objects are required.